<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/searchresult" method="POST">
      <input type="text" name="search" id="search" required />
      <input type="submit" value="<%= title %>" />
    </form>
    <p><a href="/allClients">一覧</a></p>
    <p><a href="/create">登録</a></p>
    <p><a href="/logout">ログアウト</a></p>
  </body>
</html>
