* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.client-item {
    .client-data-all {

        .client-data-one {
            list-style: none;
            padding-right: 2rem;
        }
    }
}